In [22]:
import pandas as pd
import numpy as np

In [59]:
def compute_mean_sector_multiples():
    
    # Load databases
    general_info = pd.read_csv('./databases/general_info.csv')
    last_valuations = pd.read_csv('./databases/last_valuations.csv')
    
    # Select relevant data and merge
    general_info = general_info[['ticker', 'shortName', 'sector', 'industry']]
    last_valuations = pd.merge(general_info, last_valuations, on='ticker')
    last_valuations = last_valuations[['sector', 'priceToBook', 'enterpriseToRevenue', 'enterpriseToEbitda', 'forwardPE', 'trailingPE', 'pegRatio', 'priceToSalesTrailing12Months']]
    
    # Group by sector for test purposes but probably better by industry with a bigger sample
    mean_sector_multiples = multiples.groupby(by='sector').mean()
    
    return mean_sector_multiples

In [124]:
def reformat_valuation():
    
    # Quick&dirty, review databases architecture to have EV, bridge, VT, shares, stock price
    # Check diff stock_price computation with regularMarketPrice (probably fully diluted effect)
    last_valuations = pd.read_csv('./databases/last_valuations.csv')
    stock_info = pd.read_csv('./databases/stock_info.csv')
    
    # Select
    last_valuations = last_valuations[['ticker', 'bookValue', 'enterpriseValue', 'marketCap']]
    stock_info = stock_info[['ticker', 'sharesOutstanding']]
    
    # Join
    last_valuations = pd.merge(last_valuations, stock_info, on='ticker')
    
    # Transform
    last_valuations['bridge_enterpriseValue_marketCap'] = last_valuations['enterpriseValue'] - last_valuations['marketCap']
    last_valuations['stock_price'] = last_valuations['marketCap'] / last_valuations['sharesOutstanding']
    
    # Arrange
    last_valuations = last_valuations[['ticker', 'bookValue', 'enterpriseValue', 'bridge_enterpriseValue_marketCap', 'marketCap', 'sharesOutstanding', 'stock_price']]
    
    return last_valuations

In [115]:
def revenue_valuation(enterpriseToRevenue, totalRevenue, bridge_enterpriseValue_marketCap):
    
    enterpriseValue = enterpriseToRevenue * totalRevenue
    marketCap = enterpriseValue - bridge_enterpriseValue_marketCap
    
    return marketCap

In [116]:
def ebitda_valuation(enterpriseToEbitda, ebitda, bridge_enterpriseValue_marketCap):
    
    enterpriseValue = enterpriseToEbitda * ebitda
    marketCap = enterpriseValue - bridge_enterpriseValue_marketCap
    
    return marketCap

In [117]:
def earnings_valuation(trailingPE, earnings, bridge_enterpriseValue_marketCap):
    
    marketCap = trailingPE * earnings
    enterpriseValue = marketCap + bridge_enterpriseValue_marketCap
    
    return marketCap

In [118]:
def book_valuation(priceToBook, bookValue, bridge_enterpriseValue_marketCap):
    
    marketCap = priceToBook * bookValue
    enterpriseValue = marketCap + bridge_enterpriseValue_marketCap
    
    return marketCap

In [148]:
def peers_valuation():

    # Load
    financials = pd.read_csv('./databases/financials.csv')
    general_info = pd.read_csv('./databases/general_info.csv')
    mean_sector_multiples = compute_mean_sector_multiples()
    last_valuations = reformat_valuation()

    # Select
    financials = financials[['ticker', 'totalRevenue', 'ebitda', 'freeCashflow']] # Missing earnings for now, used FCF instead just for computation mecanism (but result will be meaningless)
    general_info = general_info[['ticker', 'sector']]
    last_valuations = last_valuations[['ticker', 'bookValue', 'bridge_enterpriseValue_marketCap']]

    # Join
    financials = pd.merge(general_info, financials, on='ticker')
    financials = pd.merge(financials, last_valuations, on='ticker')
    valuation = pd.merge(financials, mean_sector_multiples, on='sector')

    # Apply valuation functions
    valuation['marketCap_revenue'] = valuation.apply(lambda x: revenue_valuation(x['enterpriseToRevenue'], x['totalRevenue'], x['bridge_enterpriseValue_marketCap']), axis=1)
    valuation['marketCap_ebitda'] = valuation.apply(lambda x: ebitda_valuation(x['enterpriseToEbitda'], x['ebitda'], x['bridge_enterpriseValue_marketCap']), axis=1)
    valuation['stock_price_book'] = valuation.apply(lambda x: book_valuation(x['priceToBook'], x['bookValue'], x['bridge_enterpriseValue_marketCap']), axis=1)

    # TBU with earnings and not freeCashflow !!!! ---------------------
    valuation['marketCap_earnings'] = valuation.apply(lambda x: earnings_valuation(x['trailingPE'], x['freeCashflow'], x['bridge_enterpriseValue_marketCap']), axis=1)

    # Final select
    valuation = valuation[['ticker', 'marketCap_revenue', 'marketCap_ebitda', 'marketCap_earnings', 'stock_price_book']]
    
    return valuation

In [155]:
def to_stock_price():
    
    # Load
    valuation = peers_valuation()
    stock_info = pd.read_csv('./databases/stock_info.csv')
    
    # Select
    stock_info = stock_info[['ticker', 'sharesOutstanding']]

    # Join
    valuation = pd.merge(valuation, stock_info, on='ticker')

    # Transform
    valuation['stock_price_revenue'] = valuation['marketCap_revenue'] / valuation['sharesOutstanding']
    valuation['stock_price_ebitda'] = valuation['marketCap_ebitda'] / valuation['sharesOutstanding']
    valuation['stock_price_earnings'] = valuation['marketCap_earnings'] / valuation['sharesOutstanding']
    
    # valuation['mean_stock_price'] = (valuation['stock_price_book'] + valuation['stock_price_revenue'] + valuation['stock_price_ebitda'] + valuation['stock_price_earnings']) / 4
    valuation['mean_stock_price'] = valuation.apply(lambda x: np.mean([x['stock_price_book'], x['stock_price_revenue'], x['stock_price_ebitda'], x['stock_price_earnings']]), axis=1)

    # Final select
    valuation = valuation[['ticker', 'stock_price_book', 'stock_price_revenue', 'stock_price_ebitda', 'stock_price_earnings', 'mean_stock_price']]
    
    return valuation

In [156]:
to_stock_price()

,ticker,stock_price_book,stock_price_revenue,stock_price_ebitda,stock_price_earnings,mean_stock_price
0,ACA.PA,13.430729,49.231301,NaN,NaN,NaN
1,BNP.PA,71.403892,272.910986,NaN,NaN,NaN
2,CS.PA,13.868356,-306.266145,51.997543,16.376448,-56.005949
3,EDEN.PA,-1.996329,-50.479682,44.555921,49.610287,10.422549
4,GLE.PA,59.407223,334.528426,NaN,NaN,NaN
5,AI.PA,91.649557,84.332026,90.913124,51.970453,79.716290
6,MT.AS,121.873424,154.770474,99.708544,117.900041,123.563120
7,AIR.PA,57.932489,133.329837,108.429725,41.608692,85.325186
8,ALO.PA,74.383076,63.587928,20.024850,22.254593,45.062612
9,DG.PA,144.765167,142.813119,148.137518,205.263424,160.244807
10,EN.PA,101.801770,179.110863,93.732382,112.992393,121.909352
11,HO.PA,107.384904,145.866415,133.054849,233.915335,155.055376
12,LR.PA,79.576177,45.885853,69.043652,81.047790,68.888368
13,SAF.PA,77.132180,77.340650,100.631605,338.769835,148.468567
14,SGO.PA,139.697883,148.668630,127.290486,129.000768,136.164442
15,SU.PA,143.113818,80.541973,108.913418,103.637865,109.051769
16,TEP.PA,197.309538,196.063644,231.833579,326.930511,238.034318
17,VIE.PA,39.245502,72.956960,52.292589,72.683386,59.294609
18,BN.PA,102.522120,124.866836,88.711019,100.718420,104.204599
19,CA.PA,55.805078,342.089970,57.012411,-6.359391,112.137017
20,OR.PA,185.796190,245.426296,255.225818,182.959150,217.351863
21,RI.PA,234.474257,111.408520,180.041108,99.082359,156.251561
22,CAP.PA,200.222304,486.536599,270.988834,394.307902,338.013910
23,DSY.PA,20.107516,19.342794,21.017372,39.449489,24.979293
24,STMPA.PA,54.133169,76.698766,118.837820,11.805821,65.368894
25,WLN.PA,117.849435,51.199975,42.239494,343.899668,138.797143
26,EL.PA,177.865015,129.280156,115.503877,133.625455,139.068626
27,ERF.PA,46.107826,87.916779,73.663768,59.926869,66.903811
28,SAN.PA,126.252503,97.914484,132.057437,NaN,NaN
29,ENGI.PA,15.365999,15.362774,15.365407,NaN,NaN
30,KER.PA,680.140141,837.919232,765.964718,494.121879,694.536492
31,MC.PA,653.143807,820.109057,729.503060,522.503262,681.314797
32,RMS.PA,706.691088,716.971707,895.643255,699.911997,754.804512
33,RNO.PA,630.963582,735.429582,118.333490,-252.871048,307.963901
34,STLAP.PA,135.973394,318.566923,138.062831,37.689329,157.573119
35,ORA.PA,16.508117,10.680217,20.029243,13.813803,15.257845
36,PUB.PA,52.788145,71.412078,53.127497,130.894256,77.055494
37,TTE.PA,53.499998,54.083769,54.091708,91.248990,63.231116
38,URW.PA,48.320000,48.850104,48.842886,248.809264,98.705564